<!DOCTYPE html>
<html>
  <head>
    <title>A New PAge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--<%= title %> means 'Express' -->
    <h1><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
ShootAround Deserved Better Development</h1>
    <h3>Welcome to <%= title %></h3>
    <h4>This is running from a server</h4>
    <h2>Reasons ShootAround could have gone better:</h2>
    <ul>
      <li>We never found out anything about how the zombie conflict was resolved even when the author seemed to place ultra big importance on it???</li>
      <li>Half-assed Kayla backstory</li>
      <li>Sabes q not even half</li>
      <li>One-eigth assed Kayla backstory</li>
      <li>Ana/Lakka was cute and all but not enough buildup</li>
      <li>Literally no idea what happened anywhere else.</li>
      <li>World-building=shit</li>
      <li>Did the zombie vaccines work???? More at seven.</li>
    </ul>
  </body>
  <!--Fontawesome CDN link-->
  <script src="https://use.fontawesome.com/2431abb546.js"></script>
</html>
