<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Welcome to <%= name %>'s Profile</h1>
    <p>
      My name is <%= name => and I am in Hack Adventures.
    </p>

    <ol>
      <% hobbies.forEach( function(hobby)){ %>
        <li><%= hobby %></li>
      }
    </ol>
  </body>
</html>
